@model IEnumerable<BulletinSlideshow.Models.Information>

@{
    ViewBag.Title = "Bulletin Slideshow";
}
@*<script src="https://rawgithub.com/timrwood/moment/2.1.0/min/moment.min.js"></script>*@
@section scripts {
    <script> $(function () {
        var slideInterval = @ViewBag.Parameter.SlideInterval

        $('.notifyMessage').marquee({
            speed: 7000,
            gap: 50,
            delayBeforeStart: 0,
            direction: 'left',
            duplicated: false
        });

        // Information Tab
        var infoTabCarousel = setInterval(function () {
            var tabs = $('#information .nav-tabs > li'),
                active = tabs.filter('.active'),
                next = active.next('li'),
                toClick = next.length ? next.find('a') : tabs.eq(0).find('a');

            toClick.tab('show');
        }, slideInterval);

        $('#information').mouseover(function () {
            clearInterval(infoTabCarousel);
        }).mouseout(function () {
            infoTabCarousel = setInterval(function () {
                var tabs = $('#information .nav-tabs > li'),
                    active = tabs.filter('.active'),
                    next = active.next('li'),
                    toClick = next.length ? next.find('a') : tabs.eq(0).find('a');

                toClick.tab('show');
            }, slideInterval);
        });

        // Project Tab
        var projectTabCarousel = setInterval(function () {
            var tabs = $('#project .nav-tabs > li'),
                active = tabs.filter('.active'),
                next = active.next('li'),
                toClick = next.length ? next.find('a') : tabs.eq(0).find('a');

            toClick.tab('show');
        }, slideInterval);

        $('#project').mouseover(function () {
            clearInterval(projectTabCarousel);
        }).mouseout(function () {
            projectTabCarousel = setInterval(function () {
                var tabs = $('#project .nav-tabs > li'),
                    active = tabs.filter('.active'),
                    next = active.next('li'),
                    toClick = next.length ? next.find('a') : tabs.eq(0).find('a');

                toClick.tab('show');
            }, slideInterval);
        });

        // SignalR
        var push = $.connection.pushNotification;

        push.client.refreshPage = function () {
            location.reload();
        };

        // Information Block
        push.client.addInformationCategory = function (category) {
            $('#information').parent().parent().css("display", "");

            var tab = '<li id="infoNavTab{{Id}}">' +
                      '<a href="#infoTab{{Id}}" data-toggle="tab">{{Name}}</a>' +
                      '</li>';
            var content = '<div class="tab-pane" id="infoTab{{Id}}" style="height:200px;">' +
                          '<h1 id="infoTitle{{Id}}">{{Name}}</h1>' +
                          '<ul style="margin-left:30px;"></ul>' +
                          '</div>';
            var categoryData = { Id: category.Id, Name: category.Name };

            $('#information .nav-tabs').append(
                S(tab).template(categoryData).s
            );
            
            $('#information .tab-content').append(
                S(content).template(categoryData).s
            );
        };

        push.client.editInformationCategory = function (category) {
            $('#infoNavTab' + category.Id + ' > a').text(category.Name);
            $('#infoTitle' + category.Id).text(category.Name);
        };

        push.client.deleteInformationCategory = function (categoryId) {
            $('#infoNavTab' + categoryId).remove();
            $('#infoTab' + categoryId).remove();

            // Hide project tab
            if ($('#information .nav-tabs').children().length == 0) {
                $('#information').parent().parent().css("display", "none");
            }
        };
        
        push.client.addInformationContent = function (information) {
            $('#infoTab' + information.CategoryId + ' > ul').append(
                '<li id="infoContent' + information.Id + '">' + information.Content + '</li>'
            );
        };

        push.client.editInformationContent = function (information) {
            var parentId = $('#infoContent' + information.Id).parent().parent().attr('id').replace('infoTab', '');

            if (parentId == information.CategoryId) {
                $('#infoContent' + information.Id).text(information.Content);
            } else {
                $('#infoContent' + information.Id).remove();
                $('#infoTab' + information.CategoryId + ' > ul').append(
                    '<li id="infoContent' + information.Id + '">' + information.Content + '</li>'
                );
            }
        };

        push.client.deleteInformationContent = function (informationId) {
            $('#infoContent' + informationId).remove();
        };

        // Project Block
        push.client.addProject = function (project, expectSolveDate, lastUpdateOn) {
            $('#project').parent().parent().css("display", "");

            var tab = '<li id="projectNavTab{{Id}}">' +
                      '<a href="#projectTab{{Id}}" data-toggle="tab">{{Name}}</a>' +
                      '</li>';
            var content = '<div class="tab-pane" id="projectTab{{Id}}" style="height: 550px;">' +
                              '<div class="pull-right">' +
                                  '<b>最後更新日期：</b><span id="lastUpdateTime{{Id}}">{{LastUpdateOn}}</span>' +
                              '</div>' +
                              '<h1 id="projectTitle{{Id}}">{{Name}}</h1>' +
                              '<div class="alert alert-block">' +
                                  '<h2>現狀</h2><span id="projectSituation{{Id}}" style="white-space: pre-line">{{Situation}}</span>' +
                              '</div>' +
                              '<div class="alert alert-success">' +
                                  '<h2>方案</h2><span id="projectPlan{{Id}}" style="white-space: pre-line">{{Plan}}</span>' +
                              '</div>' +
                              '<div class="well">' +
                                  '<b>負責人：</b><span id="projectDirector{{Id}}">{{Director}}</span>' +
                              '</div>' +
                              '<div class="well well-small">' +
                                  '<b>預計解決日期：</b><span id="expectSolveDate{{Id}}">{{ExpectSolveDate}}</span>' +
                              '</div></div>';
            var projectData = {
                Id: project.Id,
                Name: project.Name,
                Situation: project.Situation,
                Plan: project.Plan,
                Director: project.Director,
                ExpectSolveDate: expectSolveDate,
                LastUpdateOn: lastUpdateOn
            };

            // Add Tab
            $('#project .nav-tabs').append(
                S(tab).template(projectData).s
            );
            $('#project .tab-content').append(
                S(content).template(projectData).s
            );

            // Determine whether add blink effect or not
            var today = Date.parse(new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()));
            var expectDate = Date.parse(expectSolveDate);
            if (today - expectDate > 0) {
                console.log("#expectSolveDate" + project.Id + " timeout!!!!");
                $('#expectSolveDate' + project.Id).parent().attr("id", "blinkBackground");
            }
        };
        push.client.editProject = function (project, expectSolveDate, lastUpdateOn) {
            $('#projectNavTab' + project.Id + ' > a').text(project.Name);
            $('#projectTitle' + project.Id).text(project.Name);
            $('#lastUpdateTime' + project.Id).text(lastUpdateOn);
            $('#projectSituation' + project.Id).text(project.Situation);
            $('#projectPlan' + project.Id).text(project.Plan);
            $('#projectDirector' + project.Id).text(project.Director);
            $('#expectSolveDate' + project.Id).text(expectSolveDate);

            // Determine whether add blink effect or not
            var today = Date.parse(new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()));
            var expectDate = Date.parse(expectSolveDate);
            if (today - expectDate > 0) {
                console.log("#expectSolveDate" + project.Id + " timeout!!!!");
                $('#expectSolveDate' + project.Id).parent().attr("id", "blinkBackground");
            } else {
                $('#expectSolveDate' + project.Id).parent().removeAttr("id");
            }
        };

        push.client.deleteProject = function (projectId) {
            $('#projectNavTab' + projectId).remove();
            $('#projectTab' + projectId).remove();
            
            // Hide project tab
            if ($('#project .nav-tabs').children().length == 0) {
                $('#project').parent().parent().css("display", "none");
            }
        };
        

        // Connect to hub
        $.connection.hub.start()
        .done(function () {
            console.log("Connection Successful.");
        })
        .fail(function (ex) {
            console.log("Connection Failed.");
        });
    });
    </script>
}

<style>
    .nav-tabs li {
        font-size: xx-small;
    }
    .tab-content, .tab-content li {
        font-size: xx-large;
        line-height: normal;
    }
</style>

@{ bool isFirstElement = false; }
<div class="container-fluid" style="height:250px;@{if (ViewBag.Category.Count == 0) {<text> display: none;</text>}}">
    <div class="row-fluid">
        <div id="information" class="tabbable">
            <ul class="nav nav-tabs">
                @{ isFirstElement = true; }
                @foreach (var category in ViewBag.Category)
                {
                    <li id="infoNavTab@(category.Id)"@{if (isFirstElement) {<text>class=" active"</text>}}><a href="#infoTab@(category.Id)" data-toggle="tab">@category.Name</a></li>
                    isFirstElement = false;
                }
            </ul>
            <div class="tab-content">
                @{ isFirstElement = true; }
                @foreach (var category in ViewBag.Category)
                {
                    <div class="tab-pane@{if (isFirstElement) {<text> active</text>}}" id="infoTab@(category.Id)" style="height:200px;">
                        <h1 id="infoTitle@(category.Id)">@category.Name</h1>
                        <ul style="margin-left:30px;">
                            @foreach (var info in Model)
                            {

                                if (info.CategoryId == category.Id)
                                {
                                <li id="infoContent@(info.Id)">@info.Content</li>
                                }
                            }
                        </ul>
                    </div>
                    isFirstElement = false;
                }
            </div>
        </div>
    </div>
</div>

@if (ViewBag.NotifyMessage != null)
{
    <br />
    <div class="notifyMessage well" style="font-size: xx-large; font-weight: bold">
        @ViewBag.NotifyMessage
    </div>
}

<div class="container-fluid" style="height: 600px;@{if (ViewBag.Project.Count == 0) {<text> display: none;</text>}}">
    <div class="row-fluid">
        <div id="project" class="tabbable">
            <ul class="nav nav-tabs">
                @{ isFirstElement = true; }
                @foreach (var project in ViewBag.Project)
                {
                    <li id="projectNavTab@(project.Id)"@{if (isFirstElement) {<text>class="active"</text>}}><a href="#projectTab@(project.Id)" data-toggle="tab">@project.Name</a></li>
                    isFirstElement = false;
                }
            </ul>
            <div class="tab-content">
                @{ isFirstElement = true; }
                @foreach (var project in ViewBag.Project)
                {
                    <div class="tab-pane@{if (isFirstElement) {<text> active</text>}}" id="projectTab@(project.Id)" style="height:550px;">
                        <div class="pull-right"><b>最後更新日期：</b><span id="lastUpdateTime@(project.Id)">@project.LastUpdateOn.ToString("yyyy/MM/dd")</span></div>
                        <h1 id="projectTitle@(project.Id)">@project.Name</h1>
                        <div class="alert alert-block">
                            <h2>現狀</h2>
                            <span id="projectSituation@(project.Id)" style="white-space: pre-line">@project.Situation</span>
                        </div>
                        <div class="alert alert-success">
                            <h2>方案</h2>
                            <span id="projectPlan@(project.Id)" style="white-space: pre-line">@project.Plan</span>
                        </div>
                        <div class="well">
                            <b>負責人：</b><span id="projectDirector@(project.Id)">@project.Director</span>
                        </div>
                        <div class="well well-small"@{if (project.ExpectSolveDate < DateTime.Now.Date) {<text> id="blinkBackground"</text>}}>
                            <b>預計解決日期：</b><span id="expectSolveDate@(project.Id)">@project.ExpectSolveDate.ToString("yyyy/MM/dd")</span>
                        </div>
                    </div>
                    isFirstElement = false;
                }
            </div>
        </div>
    </div>
</div>
