@model IEnumerable<BulletinSlideshow.Models.Information>

@{
    ViewBag.Title = "Bulletin Slideshow";
}

@section scripts {
    <script>
        $(function () {
            var slideInterval = @ViewBag.Parameter.SlideInterval
            $('#slideTab, #slideProject').liquidSlider({
                autoSlide: true,
                autoSlideInterval: slideInterval,
                autoHeight: false
            });

            $('.notifyMessage').marquee({
                speed: 7000,
                gap: 50,
                delayBeforeStart: 0,
                direction: 'left',
                duplicated: false
            });

            // Test SignalR
            var push = $.connection.pushNotification;

            push.client.refreshPage = function () {
                location.reload();
            };

            $.connection.hub.start()
            .done(function () {
                console.log("Connection Successful.");
            })
            .fail(function (ex) {
                console.log("Connection Failed.");
            });
        })
    </script>
}

<div class="liquid-slider" id="slideTab">
    @{ int id = 0; }
    @foreach (var category in ViewBag.Category)
    {

        if (id == category.Id)
        {
            continue;
        }
        else
        {
            id = category.Id;
        }
        <div>
            <h2 class="title">@category.Name</h2>
            <ul>
            @foreach (var info in Model)
            {

                if (info.CategoryId == id)
                {
                    <li style="font-size:xx-large">@info.Content</li>
                }
            }
            </ul>
        </div>
    }
</div>

@if (ViewBag.NotifyMessage != null)
{
    <br />
    <br />
    <div class="notifyMessage well" style="font-size:xx-large; font-weight:bold">
        @ViewBag.NotifyMessage
    </div>
}

<div class="liquid-slider" id="slideProject">
    @foreach (var project in ViewBag.Project)
    {
        <div>
            <h2 class="title">@project.Name</h2>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="alert alert-block span6">
                        <h2>現狀</h2>
                        <span style="font-size: xx-large; line-height: normal; white-space: pre-line">@project.Situation</span>
                    </div>
                    <div class="alert alert-success span6">
                        <h2>方案</h2>
                        <span style="font-size: xx-large; line-height: normal; white-space: pre-line">@project.Situation</span>
                    </div>
                </div>
            </div>
            <div class="well" style="font-size: xx-large;">
                負責人：@project.Director
            </div>
        </div>
    }
</div>
