@model IEnumerable<BulletinSlideshow.Models.Message>

@{
    ViewBag.Title = "訊息管理";
}

@section scripts{
    <script>
        function Delete(id) {
            bootbox.confirm("您確定要刪除訊息嗎?", function (result) {
                if (result) {
                    var url = '@Url.RouteUrl("Administrator", new { controller = "Message", action = "Delete" })/' + id;
                    var form = $('#__AjaxAntiForgeryForm');
                    var token = $('input[name="__RequestVerificationToken"]', form).val();
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: {
                            __RequestVerificationToken: token
                        },
                        success: function () { location.reload(); }
                    });
                }
            });
        }
    </script>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<div class="span12">
    <div class="row">
        <h3>訊息管理</h3>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NotifyMessage)
                </th>
                <th class="span2">
                    @if(Model.Count() < 1)
                    {
                    @Html.RouteLink("新增", "Administrator", new { controller = "Message", action = "Create" }, new { @class = "btn btn-small btn-success" })
                    }
                </th>
            </tr>
            
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NotifyMessage)
                    </td>
                    <td>
                        @Html.RouteLink("編輯", "Administrator", new { controller = "Message", action = "Edit", id = item.Id }, new { @class = "btn btn-small btn-primary" })
                        <button class='delete-button btn btn-small btn-danger' onclick='Delete(@item.Id);'>刪除</button>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
