<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="@Url.RouteUrl("Administrator", new { controller = "Information", action = "Index" })"><i class="icon-bookmark"></i> Bulletin Slideshow</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.RouteLink("佈告管理", "Administrator", new { controller = "Information", action = "Index" })</li>
                            <li>@Html.RouteLink("分類管理", "Administrator", new { controller = "Category", action = "Index" })</li>
                            <li>@Html.RouteLink("訊息管理", "Administrator", new { controller = "Message", action = "Index" })</li>
                            <li>@Html.RouteLink("專案管理", "Administrator", new { controller = "Project", action = "Index" })</li>
                            <li>@Html.RouteLink("帳號管理", "Administrator", new { controller = "Member", action = "Index" })</li>
                            if(User.Identity.Name == "admin" || User.Identity.Name == "thomas")
                            {
                            <li>@Html.RouteLink("參數管理", "Administrator", new { controller = "Parameter", action = "Index" })</li>
                            }
                        }
                    </ul>
                </div>
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                            @*<li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i>@User.Identity.Name <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.RouteLink("返回首頁", "Default", new { controller = "Home", action = "Index" })</li>
                                    <li>@Html.RouteLink("登出", "Administrator", new { controller = "Member", action = "Logout" })</li>
                                </ul>
                            </li>*@
                            <li><a href="@Url.RouteUrl("Default", new { controller = "Home", action = "Index" })"><i class="icon-home"></i> 返回首頁</a></li>
                            <li><a href="@Url.RouteUrl("Administrator", new { controller = "Member", action = "Logout" })"><i class="icon-user"></i> 登出 [@User.Identity.Name]</a></li>
                            }
                        }
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
