@model BulletinSlideshow.Models.Member

@{
    ViewBag.Title = "帳號管理-新增";
}

<div class="row">
    <div class="span6 offset3">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>新增帳號</legend>

                <div>
                    <div class="input-prepend offset1">
                        @Html.LabelFor(model => model.Account, new { @class = "add-on" })
                        @Html.EditorFor(model => model.Account)
                        @Html.ValidationMessageFor(model => model.Account)
                    </div>

                    <div class="input-prepend offset1">
                        @Html.LabelFor(model => model.Password, new { @class = "add-on" })
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>

                    <div class="input-prepend offset1">
                        @Html.LabelFor(model => model.Name, new { @class = "add-on" })
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="controls pull-right">
                    <input type="submit" value="建立" class="btn btn-small btn-primary" />
                    @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-small" })
                </div>
            </fieldset>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#Account').focus();
    </script>
}
