@model BulletinSlideshow.Models.Project

@{
    ViewBag.Title = "專案管理-新增";
}

<div class="row">
    <div class="span6 offset3">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>新增專案</legend>

                <div>
                    <div class="input-prepend offset1 input-append">
                        @Html.LabelFor(model => model.Name, new { @class = "add-on" })
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name, null, new { @class = "add-on" })
                    </div>

                    <div class="input-prepend offset1 input-append">
                        @Html.LabelFor(model => model.Situation, new { @class = "add-on" })
                        @Html.TextAreaFor(model => model.Situation)
                        @Html.ValidationMessageFor(model => model.Situation, null, new { @class = "add-on" })
                    </div>

                    <div class="input-prepend offset1 input-append">
                        @Html.LabelFor(model => model.Plan, new { @class = "add-on" })
                        @Html.TextAreaFor(model => model.Plan)
                        @Html.ValidationMessageFor(model => model.Plan, null, new { @class = "add-on" })
                    </div>

                    <div class="input-prepend offset1 input-append">
                        @Html.LabelFor(model => model.Director, new { @class = "add-on" })
                        @Html.EditorFor(model => model.Director)
                        @Html.ValidationMessageFor(model => model.Director, null, new { @class = "add-on" })
                    </div>

                    <div id="expectDate" class="input-prepend offset1 date input-append">
                        @Html.LabelFor(model => model.ExpectSolveDate, new { @class = "add-on" })
                        @Html.TextBoxFor(model => model.ExpectSolveDate, new { @readonly = "readonly" })
                        <span class="add-on"><i class="icon-calendar"></i></span>
                        @Html.ValidationMessageFor(model => model.ExpectSolveDate)
                    </div>
                </div>

                <div class="controls pull-right">
                    <input type="submit" value="建立" class="btn btn-small btn-primary" />
                    @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-small" })
                </div>
            </fieldset>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#Name').focus();
        
        $('#ExpectSolveDate').attr('value', '@ViewBag.Today');
        $('#expectDate').datepicker({
            format: "yyyy/mm/dd",
            autoclose: true
        });
    </script>
}
