@model BulletinSlideshow.Models.Category

@{
    ViewBag.Title = "分類管理-新增";
}

<div class="span12">
    <div class="row">
        <h3>分類管理</h3>
    </div>
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>新增</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <p>
                    <input type="submit" value="建立" class="btn btn-small btn-primary" />
                    @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-small" })
                </p>
            </fieldset>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
