@model BulletinSlideshow.Models.Category

@{
    ViewBag.Title = "分類管理-編輯";
}

<div class="row">
    <div class="span6 offset3">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>編輯分類</legend>

                @Html.HiddenFor(model => model.Id)

                <div>
                    <div class="input-prepend offset1">
                        @Html.LabelFor(model => model.Name, new { @class = "add-on" })
                        @Html.TextBoxFor(model => model.Name, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="controls pull-right">
                    <input type="submit" value="確認" class="btn btn-small btn-primary" />
                    @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-small" })
                </div>
            </fieldset>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#Name').focus();
    </script>
}
