@model IEnumerable<BulletinSlideshow.Models.Category>

@{
    ViewBag.Title = "分類管理";
}

<div class="span12">
    <div class="row">
        <h3>分類管理</h3>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.RouteLink("新增", "Administrator", new { controller = "Category", action = "Create" }, new { @class = "btn btn-small btn-success" })</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.RouteLink("編輯", "Administrator", new { controller = "Category", action = "Edit", id = item.Id }, new { @class = "btn btn-small btn-primary" })
                       <button class='delete-button btn btn-small btn-danger' onclick='DeleteWithConfirm(@item.Id);'>刪除</button>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
