<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    <link rel="stylesheet" href="~/Content/liquid-slider.css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="@Url.Action("Index", "Home")"><i class="icon-bookmark"></i>Bulletin Slideshow</a>
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li><a href="@Url.RouteUrl("Administrator", new { controller = "Information", action = "Index" })"><i class="icon-user"></i> 登入後台</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery.liquid-slider.min.js"></script>
    <script src="~/Scripts/jquery.touchSwipe.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
